<% let langIndex = lang == 'cn' ? 1 : 2; %>
<% include partial/header.ejs %>

<body class="page-index">

	<div class="container">
		<div class="banner">
			<div class="text">
				<div class="row title1"><%=otherData.a0240[langIndex]%></div>
				<div class="row title2"><%=otherData.a0241[langIndex]%></div>
				<div class="row title3"><%=otherData.a0242[langIndex]%></div>
			</div>
		</div>
	</div>

	<div class="container" style="min-height: 42px;">
		<div class="nav clearfix">
			<ul>
				<%
					let current = index;
					// let links = ['病毒知识','临床经验','治疗方法','自我防护'];
					let links = [
						otherData.a0220[langIndex],
						otherData.a0221[langIndex],
						otherData.a0222[langIndex],
						otherData.a0223[langIndex]];
					links = links.map((link, i) => {
						let isActive = i+1 === current;
						let class1 = isActive ? `class="active"` : '';
						let href = `href='../${lang}/index_${i+1}.html'`;
						let html = `<li><a ${href} ${class1}>${link}</a></li>`;
						return html;
					})
				%>
				<%-links.join('')%>
			</ul>
		</div>
	</div>

	<div class="container">
		<div class="content">
			<% 
			let content = data.map(row => {
				let id = row[0];
				let zh_word = row[1];
				let en_word = row[2];
				let type = row[3] ? row[3].toLowerCase() : 'p';
				
				// 判断使用语言
				let word = en_word;
				if(lang == 'cn') word = zh_word;
				if(lang == 'en') word = en_word;

				// 判断类型
				let html = ''
				if(~type.indexOf('p')) {
					word = word.replace(/\n/g, '</br>');
					html = `<p>${word}</p>`;
				}
				if(~type.indexOf('t1')) html = `<h2>${word}</h2>`;
				if(~type.indexOf('t2')) html = `<h3>${word}</h3>`;
				if(~type.indexOf('t3')) html = `<h4>${word}</h4>`;
				if(~type.indexOf('t4')) html = `<h5>${word}</h5>`;

				return html;
			});
			%>
			<%-content.join('')%>
			
		</div>
	</div>

	<div class="container footer">
		<div class="row row-3">
			<%
				let displayLang = 'English';
				let lan = lang === 'en' ? 'cn' : 'en';
				let url = `/${lan}/index_${index}.html`;
				if(lang === 'en') displayLang = '中文';
			%>
			<div class="col col-1"><a href="<%=url%>"><i class="icon-lang"></i><%=displayLang%></a></div>
			<div class="col col-n bg-pink"><a id="btn-contributors"><%=otherData.a0224[langIndex]%></a></div>
			<div class="col col-1"><a id="btn-contact"><i class="icon-contact"></i><%=otherData.a0245[langIndex]%></a></div>
		</div>
	</div>

	<%
		const boxData1 = {
			id: "contributors",
			title: otherData.a0224[langIndex],
			list: [
				['管施林', '项目发起人、项目产品经理<br>Leader'],
				['董文枭', '开发者<br>Web Developer'],
				['卿月拜雪', '提供了第一份《新型冠状病毒肺炎诊疗方案(试行第七版)》 中文资料'],
				['客舟听雨', '提供了相关中英文资料'],
				['冰雪无言', '负责中英句对配对及英文翻译工作'],
				['渺幻', '对“自我防护”部分的内容，提供了专业的医学建议']
			]
		}

		const boxData2 = {
			id: "contact",
			title: otherData.a0245[langIndex],
			list: [
				['', 'If you can provide the following two kinds of help, please contact us and be grateful.<br>1. Help us translate documents into other languages.<br>2. Can provide some resources to support us to continue to improve the function of the web page.'],
				['', '如果你能提供以下两种帮助，请联系我们，不胜感激。<br>1. 可以帮助我们将文档翻译成其他语言。<br>2. 可以提供一些资源支持我们继续完善网页功能。'],
				['E-mail', '<a href="mailto:silim0123@sina.com?subject=Become a volunteer__申请成为志愿者">silim0123@sina.com</a>'],
				['微博', '<a href="https://weibo.com/silim0123">@一刀惊春楼</a>'],
				['Twitter', '<a href="https://twitter.com/silim0123">@silim0123</a>'],
				['Github', '<a href="https://github.com/combatogether/combatogether.com">https://github.com/combatogether/combatogether.com</a>']
			]
		}

		const modalData = [boxData1, boxData2];
	%>

	<%
		let newModalData = modalData.map(item => {
	%>
	<div class="modal" id="modal-<%=item.id%>">
		<div class="title-box"><a class="btn-back"><i class="icon-back"></i></a><%=item.title%><a class="btn-close">X</a></div>
		<div class="content-box">
			<%
				item.list.map(i => {
			%>
			<div class="info-box">
				<div class="title"><%=i[0]%></div>
				<div class="desc"><%-i[1]%></div>
			</div>
			<%
				});
			%>
		</div>
	</div>
	<%		
		});
	%>


	<!-- 
	<div class="modal">
		<div class="title-box">贡献者名单<a class="btn-close">X</a></div>
		<div class="content-box">
			<div class="info-box">
				<div class="title">管施林</div>
				<div class="desc">项目发起人</div>
			</div>
			<div class="info-box">
				<div class="title">管施林</div>
				<div class="desc">项目发起人</div>
			</div>
		</div>
	</div>
 -->


</body>
<% include partial/footer.ejs %>


<script>
	$(function(){
		function followNav (e) {
			// do something
			if(window.document.body.scrollTop >= 150){
				$(".nav").addClass("fixed-nav");
			} else {
				$(".nav").removeClass("fixed-nav");
			}
		}

		$(window).on('scroll', followNav);

		// 

		$(".btn-close,.btn-back").click((e) => {
			$(e.target).parent().parent().removeClass("open");
		});
		$(".icon-back").click((e) => {
			$(e.target).parent().parent().parent().removeClass("open");
		});

		$("#btn-contributors").click(() => {
			$("#modal-contributors").addClass("open");
		});
		$("#btn-contact").click(() => {
			$("#modal-contact").addClass("open");
		});
	});

</script>